.about-us-main-container-pc{
    min-height: 60vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15vw 50px 15vw;
}
.title{
    display: flex;
    font-size: 30px;
    justify-content: center;
    text-align: center;    
}
.content{
    margin-top: 40px;
    align-self: baseline;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}
.about-us-main-container-mobile{
    min-height: 60vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px 50px 40px;
}

