.dashboard-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    // background-color: #f8f9fa; /* example */
  }
  
  .dashboard-content {
    // padding-top: 1rem;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex: 1;
    overflow: auto;
    align-items: center;
  }
  